@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');

.about {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 0;
}

.about-title {
    font-family: "Montserrat";
    color: #038000;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-image {
    flex: 1;
    padding: 0 1rem;
}

.about-image img {
    max-width: 100%;
    height: auto;
}

.about-text {
    flex: 1;
    padding: 0 1rem;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 0 2rem;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.board-title {
    font-family: "Montserrat";
    font-size: 2rem;
    color: #000;
    margin: 1rem 0;
}

.board-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.board-member {
    flex-basis: calc(33.33% - 20px); /* Adjust the width as needed */
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.board-member:hover {
    transform: translateY(-5px);
}

.board-member__body {
    text-align: center;
}

.board-member__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.board-member__subtitle {
    font-size: 1.2rem;
    color: #777;
    margin: 0;
}