* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
}

/* Contact section styles */
.title-background {
    position: relative;
    text-align: center;
    height: 325px;
}

.title-background img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.title-background h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better visibility */
    z-index: 1;
}

div {
    display: block;
}
  
.contact-page {
    /* max-width: fit-content;  */
    margin: 0 auto;
    padding: 40px;
    /* background-color: #ccc; */
}
  
.contact-page h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    position: relative; 
}
  
.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
    max-width: 100%; 
    margin: 0 auto; 
  }

.contact-left {
    flex-basis: calc(25% - 20px);
}
  
.contact-information a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}
  
.contact-information a:hover {
    text-decoration: none;
    color: #1c3441;
}
  
.contact-inside {
    flex-basis: calc(33.33% - 20px);
    text-align: center;
    margin-bottom: 20px; 
}
  
.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 47px 0px #f0ebeb;
    height: auto;
    padding: 30px; /* Add padding for space */
}
  
.contact-icons {
    font-size: 32px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    color: #038000;
}
  
.contact-information {
    font-size: 24px;
}
  
.contact-information p {
    font-size: 18px;
    margin-bottom: 0;
}
.contact-information p:hover{
    text-decoration: none;
    color: #007bff;
}
.whatsapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 47px 0px #f0ebeb;
    height: auto;
    padding: 30px;
}
.whatsapp-title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    position: relative; 
}
.whatsapp-code {
    width: 30%;
    height: auto;
    
}
.contact-right {
    flex-basis: calc(35% - 20px); 
    margin-left: 40px; 
  }
  
.contact-form {
    flex-basis: 70%; 
    margin-bottom: 0;
    padding: 75px; 
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 47px 0px #f0ebeb;
}
  
.contact-form h3 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}
  
form {
    display: flex;
    flex-direction: column;
}
  
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
    padding: 20px;
    margin-bottom: 17px;
}
  
textarea {
    resize: vertical;
}
  
.send-message-button {
    padding: 10px;
    background-color: #038000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.send-message-button:hover{
    background-color: #038000;
}
  
.thank-you-message {
    margin-top: 1rem;
    color: green; 
    font-size: 15px;
}


/* Location section styles */
.location {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.location-map iframe {
    width: 80%;
    height: 450px;
    border: none;
}

@media screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
    
    .contact-left,
    .contact-right {
        flex-basis: 100%;
        margin-right: 0;
    }

    .contact-form {
        margin-top: 3rem;
        flex-basis: 100%;
        padding: 65px;
    }

    .whatsapp-image {
        width: 60px;
        height: 60px;
        margin-bottom: 1rem; 
    }
    .contact-right {
        align-items: center;
        margin-left: 10px;
    }
    
    .socials-box {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .socials-box a {
        font-size: 19px !important;
        margin-right: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1368px) {
    .contact-information {
        font-size: 26px;
    }
    .whatsapp-title{
        font-size: 26px;
        text-align: center;
        margin-bottom: 15px;
        position: relative; 
    }
    .whatsapp-code {
        width: 35%;
        height: auto; 
    }
    .contact-icons {
        font-size: 40px;
        margin-bottom: 10px;
        background-color: #ffffff;
        border-radius: 50%;
        padding: 10px;
        color: #038000;
    }
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
        margin-right: 0;
    }

    .contact-left {
        width: 70%;
    }
    .contact-right {
        width: 70%;
    }
    .contact-form {
        margin-top: 3rem;
        flex-basis: 100%;
        padding: 95px;
    }
    .contact-form h3 {
        font-size: 28px;
        margin-bottom: 20px;
        text-align: center;
    }
      
    form {
        display: flex;
        flex-direction: column;
    }
      
    input[type='text'],
    input[type='email'],
    input[type='tel'],
    textarea {
        padding: 25px;
        margin-bottom: 20px;
        font-size: 15px;
    }
    
    .whatsapp-image {
        width: 60px;
        height: 60px;
        margin-bottom: 1rem; 
    }
    
    .contact-right {
        align-items: center;
        margin-left: 10px;
    }
    
    .socials-box {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .socials-box a {
        font-size: 25px !important;
        margin-right: 10px;
    }
}