body {
    overflow-x: hidden;
}
.donate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

/* Styles for the description */
.donate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.donate-title {
    font-family: "Montserrat";
    color: #038000;
    font-size: 28px;
    text-align: center;
    margin-bottom: 1rem;
}

.hadith-verse {
    font-family: "Montserrat";
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.donate-scan {
    max-width: 100%;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

.qr-container {
    width: 430px; 
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    margin: 0 10px;
}

.qr-code {
    text-align: center;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.pay-icon {
    font-size: 3rem; 
    color: #038000;
}

.qr-code h1 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.qr-code p {
    font-size: 1.1rem;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
}

.qr-code img {
    max-width: 25%; 
    height: auto;
}

@media screen and (max-width: 768px) {
    .donate {
        margin: 1rem;
    }

    .quote {
        font-family: "Montserrat";
        font-size: 18px;
        margin-bottom: 2rem;
        padding: 0.5rem;
    }

    .hadith-verse {
        font-family: "Montserrat";
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
    }
    .donate-scan {
        grid-template-columns: repeat(1, 1fr);
    }
    .qr-container {
        width: 105%;
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1368px) {
    .donate {
        margin: 1rem;
    }

    .quote {
        font-family: "Montserrat";
        font-size: 22px;
        margin-bottom: 2rem;
        padding: 0.5rem;
    }

    .hadith-verse {
        font-family: "Montserrat";
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
    }
    .donate-scan {
        grid-template-columns: repeat(1, 1fr);
    }
    .qr-container {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;
    }
}