@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');

.footer {
    background-color: #fff;
    color: #000;
    padding: 1rem 0;
}
.footer-container {
    padding: 0 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo-container .footer-logo {
    display: flex;
    align-items: center;
}

.footer-menu {
    text-align: left;
    display: inline-block; /* Add this to make them inline-block elements */
    
}

.menu-title {
    font-family: "Montserrat";
    font-size: 22px;
    text-align: center;
    display: inline-block;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu ul li a {
    text-decoration: none;
    color: inherit;
}

.get-in-touch {
    text-align: center;
    display: inline-block; 
    margin-top: -20px; 
}

.socials {
    text-align: center;
    margin-top: 10px; 
}

.socials a {
    margin: 0 10px; 
    font-size: 22px; 
}

.socials a:hover {
    color: blue; 
}

.copyright a{
    text-decoration: none;
    color: inherit;
}
.line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    margin-top: 10px; 
    width: 100%; 
    height: 1px; 
    background-color: rgba(0, 0, 0, 0.1); 
}

@media screen and (max-width: 768px) {
    .footer-container {
        padding: 0 1rem; 
      }
    
      .footer-menu {
        margin: 0.5rem; 
      }
    
      .menu-title {
        font-size: 18px; 
      }
    
      .socials a {
        font-size: 18px; 
      }
    .copyright {
        font-size: 14px;
    }
}