:root {
    /* --primary-color: #038000;
    --secondary-colot: black; */

    --primary-color: #000106;
    --secondary-color: #fff;
}
.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    background-position: right center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: background-image 0.5s ease-in-out, background-position 5s linear; /* Add a transition for smoother image changes */
    /* background-attachment: fixed; */
}

.title{
    font-family: "Montserrat";
    font-size: 59px;
    margin-bottom: 1rem;
}

.subheading, .description {
    color: white;
    text-align: center;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: italic;
    margin-bottom: 1rem;
}

.button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #038000;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    justify-content: center;
    font-family: "Montserrat";
    font-weight: 600;
}
 
.background-image .button.home-button {
    background-color: #038000;
    color: white;
    font-weight: 600;
}
  
.background-image .button.home-button:hover {
    background-color: #038000;
    color: black;
}
  
.background-image .button:active {
    transform: scale(0.95);
}

.small-title {
    font-family: "Montserrat";
    font-size: 40px;
    margin-bottom: 1rem;
}

.home-services {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* max-width: 95%; */
    /* padding-left: 4rem; */
    background-color: #f9f9f9;
}

.home-services-title {
    font-family: "Montserrat";
    color: #038000;
    font-size: 30px; 
    margin-bottom: 0rem; 
}

.home-services-description {
    font-family: "Montserrat";
    font-size: 26px;
    margin-bottom: 1rem;
}

.home-services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    max-width: 90%;
}

.home-services-box {
    width: 48%;
    padding: 3rem;
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-icons {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.home-services-box-title {
    font-family: "Montserrat";
    font-size: 22px;
    margin-bottom: 1rem;
}

.home-services-box-description {
    font-family: "Montserrat";
    font-size: 16px;
    margin-bottom: 25px;
    
}

.button.learn-more:hover {
    background-color: #038000;
    color: white;
}
/* .services-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.gallery {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.gallery-title {
    /* color: #038000; */
    font-family: "Montserrat";
    font-size: 30px;
    margin-bottom: 3.5rem; 
    position: relative; 
    display: inline-block; 
    margin-top: 2rem;
}

.gallery-title::after {
    content: "";
    display: block;
    width: 80px; 
    border-bottom: 2px solid #038000;  
    position: absolute;
    bottom: -15px;
    left: 25%; 
}
.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
    max-width: 80%;
}

.gallery-box {
    width: 100%; 
    height: auto; 
    box-sizing: border-box;
}

.gallery-box img {
    width: 100%;
    height: auto;
    padding: 0.4rem;
    border-radius: 30px;
}
.masjid-everyone {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ccc;
}

.masjid-everyone-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.masjid-everyone-title {
    font-family: "Montserrat";
    color: #038000;
    font-size: 28px;
}

.masjid-everyone-description {
    font-family: "Montserrat";
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* color: var(--secondary-color) */
}

.masjid-everyone-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #038000;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    justify-content: center;
    font-family: "Montserrat";
    background-color: #038000;
    color: white;
}
.masjid-everyone-button:hover {
    background-color: #038000;
    color: black;
}
@media screen and (max-width: 767px) {
    .background-image {
        background-position: center center; 
    }

    .title {
        font-size: 35px; 
        font-family: "Montserrat";
        margin-bottom: 1rem;
        font-weight: bold;
    }
    .subheading, .description {
        color: white;
        text-align: center;
        font-family: "Montserrat";
        font-size: 18px;
        font-style: italic;
        margin-bottom: 1rem;
    }
    .home-services-title {
        font-size: 30px;
    }
    .home-services-description{
        text-align: center;
        font-family: "Montserrat";
        font-size: 22px;
        margin-bottom: 1rem;
    }
    .home-services-box {
        /* width: 100%; */
        padding: 2rem; 
    }
    .button.learn-more {
        font-size: 13px; 
        padding: 0.5rem 0.4rem; 
    }
    .home-services-box-title {
        margin-bottom: 1.5rem;
    }
    .home-services-box .button {
        margin-bottom: 3rem;
    }
    .gallery-title {
        font-size: 30px;
        margin-top: 2rem;
    }
    .gallery-container {
        grid-template-columns: repeat(1, 1fr); 
    }
    .masjid-everyone-title {
        font-size: 25px;
        font-family: "Montserrat";
    }
    .masjid-everyone-description {
        font-family: "Montserrat";
        font-size: 18px;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding-left: 0.9rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 1120px) {
    .background-image {
        background-position: center center; 
    }

    .title {
        font-size: 35px; 
        font-family: "Montserrat";
        margin-bottom: 1rem;
        font-weight: bold;
    }
    .subheading, .description {
        color: white;
        text-align: center;
        font-family: "Montserrat";
        font-size: 18px;
        font-style: italic;
        margin-bottom: 1rem;
    }
    .home-services-title {
        font-size: 30px;
    }
    .home-services-description{
        text-align: center;
        font-family: "Montserrat";
        font-size: 22px;
        margin-bottom: 1rem;
    }
    .home-services-box {
        padding: 3rem; 
    }
    .home-services-box-title {
        margin-bottom: 1.5rem;
    }
    .gallery-title {
        font-size: 30px;
        margin-top: 2rem;
    }
    .gallery-container {
        grid-template-columns: repeat(2, 1fr); 
    }
    .masjid-everyone-title {
        font-size: 25px;
        font-family: "Montserrat";
    }
    .masjid-everyone-description {
        font-family: "Montserrat";
        font-size: 18px;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding-left: 2rem;
        text-align: center;
    }

}