/* Prayer.css */

.prayer {
    text-align: center;
    margin-top: 20px;
  }
  
  .prayer h1 {
    font-size: 24px;
    color: #333;
  }
  
  .prayer-image img {
    max-width: 100%; /* Ensure the image scales down proportionally */
    max-height: 200px; /* Set a maximum height for the image */
    margin: 20px 0;
  }
  
  .prayer p {
    font-size: 16px;
    color: #777;
    margin-bottom: 30px;
  }
  