/* Prayer.css */

.prayer {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}
  
.prayer h1 {
  font-size: 24px;
  color: #333;
}
  
.prayer-image img {
  max-width: 100%; 
  max-height: 200px; 
  margin: 20px 0;
}
  
.prayer p {
  font-family: "Montserrat";
  font-size: 20px;
  color: #000;
  margin-bottom: 30px;
  margin-top: 10px;
}

.quran-verse {
  font-family: "Montserrat";
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  color: #000;
}

.friday-prayer {
  background-color: #038000; 
  color: #fff; 
  padding: 0.5rem; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.friday-title {
  font-family: "Montserrat";
  font-size: 20px;
  margin: 0.5rem;
}

.prayer-subtitle {
  font-family: "Montserrat";
  font-size: 19px;
  margin: 0.5rem;
  color: #000; 
}

.prayer-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 47px 0px #f0ebeb;
  height: auto;
  padding: 30px;
}
  
@media (max-width: 768px) {
  .prayer {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
  }
  
  .prayer-image img {
    max-width: 100%;
    max-height: auto;
    margin: 10px 0;
    padding: 10px;
  }
  
  .prayer p {
    font-size: 18px;
    margin-bottom: 2rem;
    padding: 0.5rem;
  }
  .quran-verse {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
  }
 
  .friday-title {
    font-size: 15px;
  }
  .prayer-subtitle {
    font-size: 15px;
  }
  .prayer-widget {
    padding: 20px;
  }
}





